mat-card {
  width: 40%;
  margin: 20px auto 20px auto;
  padding: 30px;
  border-radius: 2px;
  background-color: rgba(232, 232, 234, 0.99);
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center
}

h1 {
  padding: 10px;
}
h3 {
  padding: 10px;
}
