<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer-right"></span>
    <div class="social-networks">
      <ul>
        <a href="https://github.com/GllmN/myBookStore" target=blank>
          <img src="../../../assets/github.png" alt="github" title="Voir ce projet sur mon repository" id="github">
        </a>
        <a href="https://www.linkedin.com/in/guillaume-neau-0x" target=blank>
          <img src="../../../assets/linkedin.png" alt="linkedin" title="Aller sur ma page linkedin" id="linkedin">
        </a>
<!--        <a href="https://twitter.com/neau_guillaume" target=blank>-->
<!--          <img src="../../../assets/twitter.png" alt="twitter" title="Aller sur ma page twitter" id="twitter">-->
<!--        </a>-->
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row class="mtr-middle-four">
    <span class="spacer-right"></span>
    <p>© 2022 - Tous droits réservés - Web designer / Développeur : Guillaume Neau</p>
    <span class="spacer-right"></span>
  </mat-toolbar-row>
</mat-toolbar>

