button{
  text-transform: uppercase;
}

mat-card {
  width: 35%;
  margin: 100px auto;
  padding: 30px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #797979;
}

h3 {
  margin-left: 30px;
}

span {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.book-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-picture{
  min-width: 30%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-picture > h4{
  text-align: center;
  align-self: center;
}

.book-picture > img{
  text-align: center;
  align-self: center;
}

.book-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
}

